<h1>VoiceKrispies</h1>

<body>
    <form action="/toggle_recording", method="GET">
        <input type = "submit" value = "{{ toggle_button_value }}"">
    </form>

    <form action="/listen_red", method="GET">
        <input type = "submit" name = "get_speaker" value = "red">
    </form>

    <form action="/listen_blue", method="GET">
        <input type = "submit" name = "get_speaker" value = "blue">
    </form>

    <form action="/listen_orange", method="GET">
        <input type = "submit" name = "get_speaker" value = "orange">
    </form>

    <form action="/listen_green", method="GET">
        <input type = "submit" name = "get_speaker" value = "green">
    </form>
    
</body>

<body>
    <h1>Audio Player</h1>
    <audio controls>
            <source src = "{{ url_for('static', filename=audio_source_path) }}" type = "audio/wav">
    </audio>
</body>